packages/wlq-api-aws/CreateRoomStateMachine.test.json
{
  "Comment": "Room idling state machine in which the room will give SNS queue a token for users to join or call roomIdleFailure after a given timeout.",
  "StartAt": "CreateRoom",
  "States": {
    "CreateRoom": {
      "Type":"Task",
      "Resource":"arn:aws:states:::sns:publish.waitForTaskToken",
      "Parameters":{  
        "TopicArn":"arn:aws:sns:us-east-1:123456789012:myTopic",
        "Message":{  
            "action": "roomJoinToken",
            "data.roomId.$": "$.data.roomId",
            "data.token.$": "$$.Task.Token",
            "TaskToken.$":"$$.Task.Token"
        },
        "TimeoutSeconds": "$.data.timeoutSeconds"
      },
      "Next": "UserJoin",
      "Catch": [
        {
          "ErrorEquals": [ "States.ALL" ],
          "Next": "RoomIdleFailure"
        }
      ]
    },
    "UserJoin": {
      "Type":"Task",
      "Resource":"arn:aws:lambda:eu-central-1:514340827327:function:wlq-api-aws-dev-userJoin",
      "Next": "RoomIdle"
    },
    "RoomIdleFailure": {
      "Type":"Task",
      "Resource":"arn:aws:lambda:eu-central-1:514340827327:function:wlq-api-aws-dev-roomIdleFailure",
      "Next": "End"
    },
    "End": {
     "Type": "Succeed" 
    }
  }
}


  //   "Start Task And Wait For Callback": {
  //     "Type": "Task",
  //     "Resource": "arn:<PARTITION>:states:::sqs:sendMessage.waitForTaskToken",
  //     "Parameters": {
  //       "QueueUrl": "<SQS_QUEUE_URL>",
  //       "MessageBody": {
  //         "MessageTitle": "Task started by Step Functions. Waiting for callback with task token.",
  //         "TaskToken.$": "$$.Task.Token"
  //       }
  //     },
  //     "Next": "Notify Success",
  //     "Catch": [
  //       {
  //         "ErrorEquals": [ "States.ALL" ],
  //         "Next": "Notify Failure"
  //       }
  //     ]
  //   },
  //   "Notify Success": {
  //     "Type": "Task",
  //     "Resource": "arn:<PARTITION>:states:::sns:publish",
  //     "Parameters": {
  //       "Message": "Callback received. Task started by Step Functions succeeded.",
  //       "TopicArn": "<SNS_TOPIC_ARN>"
  //     },
  //     "End": true
  //   },
  //   "Notify Failure": {
  //     "Type": "Task",
  //     "Resource": "arn:<PARTITION>:states:::sns:publish",
  //     "Parameters": {
  //       "Message": "Task started by Step Functions failed.",
  //       "TopicArn": "<SNS_TOPIC_ARN>"
  //     },
  //     "End": true
  //   }
  // }


  //   "CreateRoom": {
  //     "Type": "Task",
  //     "Resource": "arn:aws:lambda:eu-central-1:514340827327:function:wlq-api-aws-dev-answerQuestion",
  //     "Next": "RoomWait"
  //   },
  //   "RoomWait": {
  //     "Type": "Parallel",
  //     "Branches": [
  //       {
  //         "StartAt": "JoinRoom",
  //         "States": {
  //           "JoinRoom": {
  //             "Type": "Task",
  //             "Resource": "arn:aws:lambda:eu-central-1:514340827327:function:wlq-api-aws-dev-answerQuestion",
  //             "Next": "JoinRoom"
  //           },
  //           "JoinRoomSuccess": {
  //             "Type": "Succeed"
  //           }
  //         }
  //       },
  //       {
  //         "StartAt": "RoomIdle",
  //         "States": {
  //           "RoomIdle": {
  //             "Type": "Wait",
  //             "Seconds": 60,
  //             "Next": "RoomIdleOver"
  //           },
  //           "RoomIdleOver": {
  //             "Type": "Succeed"
  //           }
  //         }

  //       }
  //     ],
  //     "Next": "GameStart"
  //   },
  //   "GameStart": {
  //     "Type": "Task",
  //     "Resource":  "arn:aws:lambda:eu-central-1:514340827327:function:wlq-api-aws-dev-answerQuestion",
  //     "Next": "PoseQuestion"
  //   },
  //   "PoseQuestion": {
  //     "Type": "Task",
  //     "Resource":  "arn:aws:lambda:eu-central-1:514340827327:function:wlq-api-aws-dev-answerQuestion",
  //     "Next": "WaitOnQuestion"
  //   },
  //   "WaitOnQuestion": {
  //     "Type":  "Wait",
  //     "Seconds": 15,
  //     "Next": "AnnounceAnswer"
  //   },
  //   "AnnounceAnswer": {
  //     "Type": "Task",
  //     "Resource":  "arn:aws:lambda:eu-central-1:514340827327:function:wlq-api-aws-dev-answerQuestion",
  //     "Next": "WaitOnAnswer"
  //   },
  //   "WaitOnAnswer": {
  //     "Type":  "Wait",
  //     "Seconds": 15,
  //     "Next": "NextQuestion"
  //   },
  //   "NextQuestion": {
  //     "Type": "Choice",
  //     "Choices":[
  //       {
  //         "Variable": "$.IsOutOfQuestions",
  //         "BooleanEquals": true,
  //         "Next": "End"
  //       },
  //       {
  //         "Variable": "$.IsOutOfQuestion",
  //         "BooleanEquals": false,
  //         "Next": "PoseQuestion"
  //       }
  //     ]
  //   },
  //   "End": {
  //     "Type": "Succeed"
  //   }
  // }
}