packages/wlq-api-aws/RoomIdleStateMachine.test.json
{
  "Comment": "Room idling state machine in which the room will give SNS queue a token for users to join or call roomIdleFailure after a given timeout.",
  "StartAt": "RoomIdle",
  "States": {
    "RoomIdle": {
      "Type":"Task",
      "Resource":"arn:aws:states:::sns:publish.waitForTaskToken",
      "Parameters":{  
        "TopicArn":"arn:aws:sns:us-east-1:123456789012:myTopic",
        "Message":{  
            "action": "roomJoinToken",
            "data.roomId.$": "$.data.roomId",
            "data.token.$": "$$.Task.Token",
            "TaskToken.$":"$$.Task.Token"
        },
        "TimeoutSeconds": "$.data.timeoutSeconds"
      },
      "Next": "UserJoin",
      "Catch": [
        {
          "ErrorEquals": [ "States.ALL" ],
          "Next": "RoomIdleFailure"
        }
      ]
    },
    "UserJoin": {
      "Type":"Task",
      "Resource":"arn:aws:lambda:eu-central-1:514340827327:function:wlq-api-aws-dev-userJoin",
      "Next": "RoomIdle"
    },
    "RoomIdleFailure": {
      "Type":"Task",
      "Resource":"arn:aws:lambda:eu-central-1:514340827327:function:wlq-api-aws-dev-roomIdleFailure",
      "Next": "End"
    },
    "End": {
     "Type": "Succeed" 
    }
  }
}
